@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@400;500;600;700;800&family=Roboto+Slab:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@400;500;600;700;800&family=Roboto+Slab:wght@500;600;700;800&display=swap');
:root {
    --font-primary: "Noto Serif", "serif";
    --font-default: "Poppins", "sans-serif";
  }

  *{
    box-sizing: border-box;
  }

  /* Colors */
  :root {
    --color-white: #fff;
    --color-black: #343a40;
    --color-grey: #6c757d;
    --background: #ebf3f5;
    --background2: #e7f2f9;
    --fontcolor: #797979;
  }

  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: black;
  }
  
  .one a{
    padding:20px 20px;
  }
  body{
    font-family: var(--font-default);
    color: var(--color-black);
  }
  .index{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid black;
  }
  header{
    background-color: white;
    width: 100%;
  }
  .left_opt{
    display: block;
    padding-bottom: 8px;
  }
  .logo a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
  }
  .log {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 20px;
  }
  .log a{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    font-size: .875rem;
  }
  .shop{
    margin-right: 8px;
  }
  .one a{
    color: var(--color-black);
  }
  .icon{
    margin-left: 10px;
    font-size: 22px;
    color: black;
  }

  a{
    text-decoration: none;
    color: #4f4f4f;
}

section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

.main-one {
    display: flex;
    flex-direction: row;
    max-width: 1330px;
}

.div-1 {
    display: flex;
    width: 100%;
}

.left {
    height: 100vh;
    width: 25%;
}

.left::before{
    position: fixed;
}

.left::after{
    position: sticky !important;;
}

.right-1 {
    margin-left: 90px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.main-rd {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rd-1 {
    margin-bottom: 20px;
    width: 25%;
    margin: 4px;
}

.rd-1 img {
    width: 100%;
    height: 340px;
    margin-bottom: 10px;
}
.head_{
  font-size: 18px ;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
.sub_head{
  color: var(--fontcolor);
}
.price{
  text-align: center;
  font-size: 18px;
  font-weight: 500 ;
  border-bottom: 1px solid var(--color-black);
}
.custom_container{
  max-width: 1200px;
  margin: auto;
}
.font_h{
  font-family: var(--font-primary);
  font-size: 28px ;
  line-height: 40px;
  font-weight: 500;
}
.option{
  margin-left: 75px;
}
.option a{
    color: var(--color-grey);
    display: block;
    padding-bottom: 8px;
}
.img_fb{
  width: 20px;
  height: 20px;
}
.ftr_logo{
  display: block;
  padding: 8px;
}
.ftr_logo a{
  color: var(--color-grey);
}
input[type=text] {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bg-brand{
  background-color: var(--background);
}
.custom-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}
.custom_1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.custom_1 a{
  color: #20aad8;
}
